<a href="https://colab.research.google.com/github/mehrnaznz/FirstTest/blob/main/MPM200_Python_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the Excel file
df = pd.read_csv("/content/covid-tracking-data-master_COVID_Tracking_Project_2020_08_07_daily (1).csv")

# Display basic information about the dataset
print(df.info())

# Show the first few rows of the data
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8697 entries, 0 to 8696
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      8697 non-null   int64
 1   state                     8697 non-null   object
 2   positive                  8682 non-null   float64
 3   negative                  8541 non-null   float64
 4   pending                   1098 non-null   float64
 5   hospitalizedCurrently     6094 non-null   float64
 6   hospitalizedCumulative    4704 non-null   float64
 7   inIcuCurrently            3159 non-null   float64
 8   inIcuCumulative           1280 non-null   float64
 9   onVentilatorCurrently     2749 non-null   float64
 10  onVentilatorCumulative    454 non-null    float64
 11  recovered                 5462 non-null   float64
 12  dataQualityGrade          7596 non-null   object
 13  lastUpdateEt              8353 non-null   object
 14  dateModified              8353 non-null   object
 15  checkTimeEt               8353 non-null   object
 16  death                     7999 non-null   float64
 17  hospitalized              4704 non-null   float64
 18  dateChecked               8353 non-null   object
 19  totalTestsViral           3397 non-null   float64
 20  positiveTestsViral        1140 non-null   float64
 21  negativeTestsViral        1173 non-null   float64
 22  positiveCasesViral        5645 non-null   float64
 23  deathConfirmed            3167 non-null   float64
 24  deathProbable             1977 non-null   float64
 25  fips                      8697 non-null   int64
 26  positiveIncrease          8697 non-null   int64
 27  negativeIncrease          8697 non-null   int64
 28  total                     8697 non-null   int64
 29  totalTestResults          8697 non-null   int64
 30  totalTestResultsIncrease  8697 non-null   int64
 31  posNeg                    8697 non-null   int64
 32  deathIncrease             8697 non-null   int64
 33  hospitalizedIncrease      8697 non-null   int64
 34  hash                      8697 non-null   object
 35  commercialScore           8697 non-null   int64
 36  negativeRegularScore      8697 non-null   int64
 37  negativeScore             8697 non-null   int64
 38  positiveScore             8697 non-null   int64
 39  score                     8697 non-null   int64
 40  grade                     0 non-null      float64
dtypes: float64(19), int64(15), object(7)
memory usage: 2.7+ MB
None

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,268851,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN
1,20200807,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,749416,21,224,b180d67ecb2784ceaaaf7fef67dcee5833fadd52,0,0,0,0,0,NaN
2,20200807,AR,48039.0,503484.0,NaN,514.0,3168.0,NaN,NaN,111.0,...,551523,6,50,1e9a8ed04dc081a895e26f03a10711ce88d78be2,0,0,0,0,0,NaN
3,20200807,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,9395052fa25b89c3561068bed6cc6c425623bb9c,0,0,0,0,0,NaN
4,20200807,AZ,185053.0,819792.0,NaN,1772.0,19241.0,565.0,NaN,411.0,...,1004845,79,5173,73a278d71ae7e87e4e634538a146339f015d5531,0,0,0,0,0,NaN

In [10]:
df.columns.tolist()

['date',
 'state',
 'positive',
 'negative',
 'pending',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'lastUpdateEt',
 'dateModified',
 'checkTimeEt',
 'death',
 'hospitalized',
 'dateChecked',
 'totalTestsViral',
 'positiveTestsViral',
 'negativeTestsViral',
 'positiveCasesViral',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'negativeIncrease',
 'total',
 'totalTestResults',
 'totalTestResultsIncrease',
 'posNeg',
 'deathIncrease',
 'hospitalizedIncrease',
 'hash',
 'commercialScore',
 'negativeRegularScore',
 'negativeScore',
 'positiveScore',
 'score',
 'grade']

In [6]:
df.dtypes

date                          int64
state                        object
positive                    float64
negative                    float64
pending                     float64
hospitalizedCurrently       float64
hospitalizedCumulative      float64
inIcuCurrently              float64
inIcuCumulative             float64
onVentilatorCurrently       float64
onVentilatorCumulative      float64
recovered                   float64
dataQualityGrade             object
lastUpdateEt                 object
dateModified                 object
checkTimeEt                  object
death                       float64
hospitalized                float64
dateChecked                  object
totalTestsViral             float64
positiveTestsViral          float64
negativeTestsViral          float64
positiveCasesViral          float64
deathConfirmed              float64
deathProbable               float64
fips                          int64
positiveIncrease              int64
negativeIncrease              int64
total                         int64
totalTestResults              int64
totalTestResultsIncrease      int64
posNeg                        int64
deathIncrease                 int64
hospitalizedIncrease          int64
hash                         object
commercialScore               int64
negativeRegularScore          int64
negativeScore                 int64
positiveScore                 int64
score                         int64
grade                       float64
dtype: object

In [11]:
CA = df[df.state == 'CA']

In [12]:
CA[["total", "totalTestResults", "totalTestResultsIncrease", "positiveIncrease", 'positive']]

,total,totalTestResults,totalTestResultsIncrease,positiveIncrease,positive
5,8596882,8596882,96419,8436,538416.0
61,8500463,8500463,91063,5258,529980.0
117,8409400,8409400,103687,5295,524722.0
173,8305713,8305713,121017,4526,519427.0
229,8184696,8184696,148721,5739,514901.0
...,...,...,...,...,...
8478,550,550,19,19,88.0
8528,531,531,9,9,69.0
8577,522,522,7,7,60.0
8611,515,515,0,0,53.0
8635,515,515,0,0,53.0

In [13]:
CA.positiveIncrease.sum()

np.int64(538363)

In [14]:
df.groupby('state').agg({'positiveIncrease':'sum','totalTestResultsIncrease':'mean'})

       positiveIncrease  totalTestResultsIncrease
state
AK                 4288               1734.470968
AL                98301               4866.337662
AR                48039               3558.174194
AS                    0                  9.627586
AZ               185051               6400.101911
CA               538363              54753.929936
CO                49436               3662.461538
CT                50320               5614.500000
DC                12589               1337.942308
DE                15445               1256.606452
FL               518073              24821.101911
GA               209002              11166.414013
GU                  408                167.834483
HI                 2913                878.461039
IA                47865               3281.838710
ID                23399               1290.084416
IL               191804              19017.770701
IN                72253               5271.632258
KS                30638               2041.987097
KY                33796               4141.851613
LA               128746               9772.740260
MA               120283               8631.187919
MD                93806               6453.891026
ME                 4014               1192.993506
MI                95461              12728.662500
MN                59184               5872.477419
MO                57379               4887.922078
MP                   47                 84.834483
MS                65436               3163.714286
MT                 4757               1219.123377
NC               132811              12355.484076
ND                 7327               1075.980519
NE                27821               1883.878205
NH                 6740               1072.949045
NJ               184060              14440.967949
NM                21773               3899.135484
NV                54532               3249.891026
NY               419636              40566.375796
OH                98675              10404.410256
OK                42254               4453.337662
OR                20633               2787.649682
PA               117277               8496.109677
PR                20681               2252.717241
RI                19736               1362.306250
SC                98219               4891.439490
SD                 9371                770.922078
TN               118781              10654.044872
TX               474523              25481.089172
UT                43374               3630.512987
VA                97882               7748.250000
VI                  521                 72.400000
VT                 1448                651.367742
WA                60915               5080.512563
WI                63027               6611.184713
WV                 7433               2017.264516
WY                 3000                367.694805

In [17]:
df[50:200]

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
50,20200807,VI,522.0,9977.0,21.0,NaN,NaN,NaN,NaN,NaN,...,10499,0,0,7e94a8c3a4b12bafc641fb24585efa56293188dc,0,0,0,0,0,NaN
51,20200807,VT,1448.0,99514.0,NaN,6.0,NaN,NaN,NaN,NaN,...,100962,0,0,d39aebec1b864ebda61c97b4cb3e60fa6ee637f5,0,0,0,0,0,NaN
52,20200807,WA,60917.0,950107.0,NaN,405.0,5874.0,NaN,NaN,50.0,...,1011024,29,34,042438e98001ec06fcc86164ba91b84e63325d5f,0,0,0,0,0,NaN
53,20200807,WI,63028.0,974948.0,118.0,296.0,4930.0,101.0,931.0,NaN,...,1037976,12,49,030071e9a3b76eb98eb39eecd01842d3104d3ce1,0,0,0,0,0,NaN
54,20200807,WV,7433.0,305244.0,NaN,122.0,NaN,46.0,NaN,14.0,...,312677,3,0,1782a5197f4344019c1b9b151569f61738913c3c,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,20200804,MP,46.0,12255.0,NaN,NaN,4.0,NaN,NaN,NaN,...,12301,0,0,960bb2691d81f9373789a20788f84d15da2888d0,0,0,0,0,0,NaN
196,20200804,MS,62199.0,401592.0,NaN,1164.0,4424.0,314.0,NaN,173.0,...,463791,42,44,41a592d98e3b27829dfa89c92c825576bd57f48e,0,0,0,0,0,NaN
197,20200804,MT,4314.0,176922.0,NaN,70.0,238.0,NaN,NaN,NaN,...,181236,0,2,07937c84e79a22ab4e1a2899e849b678261d6291,0,0,0,0,0,NaN
198,20200804,NC,128161.0,1725865.0,NaN,1166.0,NaN,339.0,NaN,NaN,...,1854026,28,0,137575d19ec4eee5484ee8f8d05632ca9bf846d9,0,0,0,0,0,NaN
199,20200804,ND,6933.0,153537.0,NaN,51.0,389.0,NaN,NaN,NaN,...,160470,1,10,45b60aa4a406f0dd8cd77387eb1446475f617d37,0,0,0,0,0,NaN

#Population of states

In [18]:
states = pd.read_excel("/content/NST-EST2023-POP.xlsx")

In [19]:
states.head()

      Unnamed: 0  Unnamed: 1       2020       2021       2022       2023
0  United States   331464948  331526933  332048977  333271411  334914895
1      Northeast    57614141   57430477   57243423   57026847   56983517
2        Midwest    68987296   68969794   68850246   68783028   68909283
3          South   126268529  126465281  127353282  128702030  130125290
4           West    78594982   78661381   78602026   78759506   78896805

In [20]:
states.columns = ['state', 'current', '2020', '2021', '2022', '2023']
states.head()

           state    current       2020       2021       2022       2023
0  United States  331464948  331526933  332048977  333271411  334914895
1      Northeast   57614141   57430477   57243423   57026847   56983517
2        Midwest   68987296   68969794   68850246   68783028   68909283
3          South  126268529  126465281  127353282  128702030  130125290
4           West   78594982   78661381   78602026   78759506   78896805

In [21]:
states.state.unique().tolist()

['United States',
 'Northeast',
 'Midwest',
 'South',
 'West',
 '.Alabama',
 '.Alaska',
 '.Arizona',
 '.Arkansas',
 '.California',
 '.Colorado',
 '.Connecticut',
 '.Delaware',
 '.District of Columbia',
 '.Florida',
 '.Georgia',
 '.Hawaii',
 '.Idaho',
 '.Illinois',
 '.Indiana',
 '.Iowa',
 '.Kansas',
 '.Kentucky',
 '.Louisiana',
 '.Maine',
 '.Maryland',
 '.Massachusetts',
 '.Michigan',
 '.Minnesota',
 '.Mississippi',
 '.Missouri',
 '.Montana',
 '.Nebraska',
 '.Nevada',
 '.New Hampshire',
 '.New Jersey',
 '.New Mexico',
 '.New York',
 '.North Carolina',
 '.North Dakota',
 '.Ohio',
 '.Oklahoma',
 '.Oregon',
 '.Pennsylvania',
 '.Rhode Island',
 '.South Carolina',
 '.South Dakota',
 '.Tennessee',
 '.Texas',
 '.Utah',
 '.Vermont',
 '.Virginia',
 '.Washington',
 '.West Virginia',
 '.Wisconsin',
 '.Wyoming']

In [22]:
states['state'] = states['state'].map(lambda x: x.lstrip('.'))
states.state.unique().tolist()

['United States',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [23]:
abbr_to_state = {
    "AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas",
    "CA": "California", "CO": "Colorado", "CT": "Connecticut", "DE": "Delaware",
    "FL": "Florida", "GA": "Georgia", "HI": "Hawaii", "ID": "Idaho",
    "IL": "Illinois", "IN": "Indiana", "IA": "Iowa", "KS": "Kansas",
    "KY": "Kentucky", "LA": "Louisiana", "ME": "Maine", "MD": "Maryland",
    "MA": "Massachusetts", "MI": "Michigan", "MN": "Minnesota", "MS": "Mississippi",
    "MO": "Missouri", "MT": "Montana", "NE": "Nebraska", "NV": "Nevada",
    "NH": "New Hampshire", "NJ": "New Jersey", "NM": "New Mexico", "NY": "New York",
    "NC": "North Carolina", "ND": "North Dakota", "OH": "Ohio", "OK": "Oklahoma",
    "OR": "Oregon", "PA": "Pennsylvania", "RI": "Rhode Island", "SC": "South Carolina",
    "SD": "South Dakota", "TN": "Tennessee", "TX": "Texas", "UT": "Utah",
    "VT": "Vermont", "VA": "Virginia", "WA": "Washington", "WV": "West Virginia",
    "WI": "Wisconsin", "WY": "Wyoming", "AS": "American Samoa"
}

In [24]:
df['PrimaryKey'] = df['state'].map(abbr_to_state)

In [25]:
df.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade,PrimaryKey
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN,Alaska
1,20200807,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,21,224,b180d67ecb2784ceaaaf7fef67dcee5833fadd52,0,0,0,0,0,NaN,Alabama
2,20200807,AR,48039.0,503484.0,NaN,514.0,3168.0,NaN,NaN,111.0,...,6,50,1e9a8ed04dc081a895e26f03a10711ce88d78be2,0,0,0,0,0,NaN,Arkansas
3,20200807,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,9395052fa25b89c3561068bed6cc6c425623bb9c,0,0,0,0,0,NaN,American Samoa
4,20200807,AZ,185053.0,819792.0,NaN,1772.0,19241.0,565.0,NaN,411.0,...,79,5173,73a278d71ae7e87e4e634538a146339f015d5531,0,0,0,0,0,NaN,Arizona

In [26]:
df.shape

(8697, 42)

In [27]:
states.shape

(56, 6)

In [28]:
states.head()

           state    current       2020       2021       2022       2023
0  United States  331464948  331526933  332048977  333271411  334914895
1      Northeast   57614141   57430477   57243423   57026847   56983517
2        Midwest   68987296   68969794   68850246   68783028   68909283
3          South  126268529  126465281  127353282  128702030  130125290
4           West   78594982   78661381   78602026   78759506   78896805

In [29]:
first_merge = pd.merge(df, states, left_on='PrimaryKey', right_on='state', how = 'left')

In [30]:
pd.merge(df, states, left_on='PrimaryKey', right_on='state', how = 'outer')

,date,state_x,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,positiveScore,score,grade,PrimaryKey,state_y,current,2020,2021,2022,2023
0,20200807.0,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,0.0,0.0,NaN,Alabama,Alabama,5024294.0,5031864.0,5050380.0,5073903.0,5108468.0
1,20200806.0,AL,96592.0,643192.0,NaN,1575.0,11313.0,NaN,1211.0,NaN,...,0.0,0.0,NaN,Alabama,Alabama,5024294.0,5031864.0,5050380.0,5073903.0,5108468.0
2,20200805.0,AL,94654.0,632806.0,NaN,1575.0,11100.0,NaN,1200.0,NaN,...,0.0,0.0,NaN,Alabama,Alabama,5024294.0,5031864.0,5050380.0,5073903.0,5108468.0
3,20200804.0,AL,93702.0,628599.0,NaN,1517.0,11100.0,NaN,1173.0,NaN,...,0.0,0.0,NaN,Alabama,Alabama,5024294.0,5031864.0,5050380.0,5073903.0,5108468.0
4,20200803.0,AL,92661.0,621390.0,NaN,1517.0,10865.0,NaN,1153.0,NaN,...,0.0,0.0,NaN,Alabama,Alabama,5024294.0,5031864.0,5050380.0,5073903.0,5108468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,20200309.0,DC,1.0,14.0,3.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,20200308.0,DC,1.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,20200307.0,DC,0.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,20200306.0,DC,0.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,20200305.0,DC,0.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
pd.concat

<function pandas.core.reshape.concat.concat(objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys: 'Iterable[Hashable] | None' = None, levels=None, names: 'list[HashableT] | None' = None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool | None' = None) -> 'DataFrame | Series'>